<div *ngIf="hero">
  <h2>detalles {{hero.name}}!</h2>
  <div>
    <label>id: </label>{{hero.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="hero.name" placeholder="nombre" />
  </div>
  <button (click)="goBack()">Volver</button>
  <button (click)="save()">Guardar</button>
</div>
